<div class="container">
 
<h3>Contact List</h3>
 
  <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control"  type="text" name="search" [(ngModel)]="searchText"
       autocomplete="off"placeholder="Search">
    </div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
 
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone Number</th>
      <th>City</th>
     
    </tr>
  </thead>
 
  <tbody>
    <tr *ngFor="let opt of userlist | filter:searchText">
        
     
      <td>{{opt.FirstName}}</td>
      <td>{{opt.LastName}}</td>
      <td>{{opt.Phone}}</td>
      <td>{{opt.City}}</td>
  
      
</tr>

  </tbody>
</table>
</div>
<app-root></app-root>